{% extends 'main.html' %}

{% block content %}
<a></a>
<h1 style="margin:auto; text-align:center; display:block;font-size: 35px"></h1>
<label style="margin:auto; text-align:center; display:block;font-size: 15px">
    <h1 style="margin:auto; text-align:center; display:block;font-size: 30px">About this site</h1>
    <br/>In recent years there has been an increase in the number of people who organize in groups or individuals in order to go on trips.
    <br/>As a result, there has been an increase in tour guides and travel organizers that can not always be reached and knowing about their credibility,
    <br/>many travelers encounter framing and "tourist traps" and consequently the experience of their trip is impaired and they lose time and money during their trip.
    <br/>There are also cities that became real tourism centers, which harms the level and quality of life of local residents.
    <br/>This website will enable a connection between travelers and hiking instructors according to traveling and loading tracks on sites,
    <br/>while providing information about reliability and professionalism guides with: a dedicated forum for any excursions, displaying trailer trails,
    <br/>grading systems and validation guides by difficulty levels , Displays load levels in a trip area.
    <br/>
    <br/>
    <h1 style="margin:auto; text-align:center; display:block;font-size: 30px">Who we are</h1>
    <br/>Group of 4 Software engineering students that trying our best to develop the best possible traveling website for you!
    <br/>
    <br/>
    <h1 style="margin:auto; text-align:center; display:block;font-size: 30px">Our team</h1>
    <br/>Pavel Kormilchik - Development Manager
    <br/>Orel Maier - Frontend Developer
    <br/>Anton Volkov - Unit Test Manager
    <br/>Daniel Merkov - Backend Developer
    <br/>
    <br/>
    <h1 style="margin:auto; text-align:center; display:block;font-size: 30px">Contact Us</h1>
    <br/>
    <a href="{% url 'contact' %}" >click here to contact us</a>
    <br/>
    <br/>
</label>
<a></a>
{% endblock content %}