{% extends 'main.html' %}


{% block content %}
<div style="margin:auto; text-align:center; display:block;font-size: 35px">
   <h1>Contact us</h1> </div>
<div style="text-align:center;">
<form action="" method="post">
   {% csrf_token %}
   {% for field in form %}
                <!-- Input:Text -->
                <div class="form__field">
                    <label for="formInput#text">{{ field.label }}</label>
                    {{field}}
                </div>
                {% endfor %}
   <input type="submit" value="Submit">
</form>
</div>

{% endblock content %}
