{% extends 'main.html' %}

 {% block content %}

 



  <!-- Main Section -->
  <main class="singleProject my-md">
    <div class="container">
      <div class="layout">
        <div class="column column--1of3">
          <h3 class="singleProject__subtitle">Tools & Stacks</h3>
          <div class="singleProject__toolStack">
            {% for tag in tags %}
            <span class="tag tag--pill tag--sub tag--lg">
              <small>{{tag}}</small>
            </span>
            {% endfor %}
          </div>

          
        </div>
        <div class="column column--2of3">
          <img class="singleProject__preview" src="{{ trip.featured_image.url }}" alt="portfolio thumbnail" />
          <a href="{% url 'guide-profile' trip.owner.id %}" class="singleProject__developer">{{ trip.owner.name }}</a>
          <h2 class="singleProject__title">{{trip.title}}</h2>
          <h3 class="singleProject__subtitle">About the trip</h3>
          <div class="singleProject__info">
            {{trip.description}}
          </div>

          <div class="comments">
            <h3 class="singleProject__subtitle">Feedback</h3>
            <h5 class="project--rating">
              {{trip.vote_ration}}% Postitive Feedback ({{trip.vote_total}} Vote{{trip.vote_total|pluralize:"s"}})
            </h5>

            {% if request.user.profile.id in trip.reviewers %}
            <p>You have already submitted your review for this trip</p>

            {% elif request.user.profile == trip.owner %}  
            <p>You cannot review your own trip</p>

            {% elif request.user.is_authenticated %}
            <form class="form" action="{% url 'trip' trip.id %}" method="POST">
              {% csrf_token %}
              {% for field in form %}
              <div class="form__field">
                <label for="formInput#textarea">{{field.label}}</label>
                {{ field }}  
              </div>
              {% endfor%}
              <input class="btn btn--sub btn--lg" type="submit" value="Comments" />
            </form>
            {% else %}
            <a href="{% url 'signin' %}?next={{request.path}}">Please login to leave a review</a>
            {% endif %}
            <div class="commentList">
              {% for review in trip.review_set.all %}
              {% if review.body %}
              <div class="comment">
                <a href="">
                  <img class="avatar avatar--md"
                    src="{{review.owner.profile_image.url}}" alt="user" />
                </a>
                <div class="comment__details">
                  <a href="" class="comment__author">{{ review.owner.name }}</a>
                  <p class="comment__info">{{review.body|linebreaksbr}}</p>
                </div>
              </div>
              {% endif %}
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </main>

{% endblock content %}
