{% extends 'main.html' %}

{% block content %}

<!-- Main Section -->
<main class="profile my-md">
    <div class="container">
      <div class="layout">
        <div class="column column--1of3">
          <div class="card text-center">
            <div class="card__body dev">
              <img class="avatar avatar--xl" src="{{ profile.profile_image.url }}" />
              <h2 class="dev__name">{{profile.name}}</h2>
              <p class="dev__title">{{profile.short_intro}}</p>
              <p class="dev__location">Based in {{profile.location}}</p>
              {%if user.is_authenticated %}
              <a href="mailto:{{profile.email}}" class="btn btn--sub btn--lg">Send Message </a>
              {% else %}
              <a href="{% url 'signin' %}?next={{request.path}}">Please login to send message</a>
              {% endif %}
            </div>
          </div>
        </div>
        <div class="column column--2of3">
          <div class="devInfo">
            <h3 class="devInfo__title">About Me</h3>
            <p class="devInfo__about">{{ profile.bio }}</p>
          </div>
          {% ifnotequal  profile.user.groups.all.0.name "traveler" %}
          <div class="devInfo">
            <h3 class="devInfo__title">Skills</h3>
            <div class="devInfo__skills">
                {% for skill in topSkills %}
              <div class="devSkill">
                <h4 class="devSkill__title">{{skill.name}}</h4>
                <p class="devSkill__info">{{ skill.description}}</p>
              </div>
              {% endfor %}

              <h3 class="devInfo__subtitle">Other Skills</h3>
              <div class="devInfo__otherSkills">
                  {% for skill in otherSkills %}
                <span class="tag tag--pill tag--sub tag--lg">
                  <small>{{skill}}</small>
                </span>
                {% endfor %}

              </div>
            </div>
            {% endifnotequal%}
          </div>
           {% ifnotequal  profile.user.groups.all.0.name "traveler" %}
          <div class="devInfo">
            <h3 class="devInfo__title">Trips</h3>
            <div class="grid grid--two">
            {% for trip in profile.trip_set.all %}
              <div class="column">
                <div class="card project">
                  <a href="{% url 'trip' trip.id %}" class="project">
                    <img class="project__thumbnail" src="{{trip.featured_image.url}}" alt="project thumbnail" />
                    <div class="card__body">
                      <h3 class="project__title">{{ trip.title }}</h3>
                      <p><a class="project__author" href="{% url 'guide-profile' trip.owner.id %}">{{trip.owner.name}}</a></p>
                      <p class="project--rating">
                        <span style="font-weight: bold;">{{ trip.vote_ration}}%</span> Postitive
                        Feedback ({{ trip.vote_total }}Vote{{ trip.vote_total|pluralize:"s"}})
                      </p>
                      <div class="project__tags">
                          {% for tag in trip.tags.all %}
                        <span class="tag tag--pill tag--main">
                          <small>{{tag}}</small>
                        </span>
                        {% endfor %}
                      </div>
                    </div>
                  </a>
                </div>
              </div>
            {% endfor %}

            </div>
            <h3 class="singleProject__subtitle">Feedback</h3>
            <h5 class="project--rating"> {{profile.vote_ration}}% Postitive Feedback ({{profile.vote_total}} Vote{{profile.vote_total|pluralize:"s"}})
            </h5>
            {% if request.user.profile.id in profile.reviewersListId %}
            <p>You have already submitted your review for this guide</p>
            {% elif request.user.profile == profile.owner %}
            <p>You cannot review your own guide</p>
            {% elif request.user.is_authenticated %}
              <!-- Form to print the vote and selection-->
            <form class="form" action="{% url 'guide-profile' profile.id %}" method="POST">
              {% csrf_token %}
              {% for field in form %}
              <div class="form__field">
                <label for="formInput#textarea">{{field.label}}</label>
                {{ field }}
              </div>
              {% endfor%}
              <input class="btn btn--sub btn--lg" type="submit" value="Comments" />
            </form>
            {% else %}
            <a href="{% url 'signin' %}?next={{request.path}}">Please login to leave a review</a>
            {% endif %}
            {% endifnotequal%}
          </div>

          <div class="commentList">

              {% for review in profile.reviewersList %}
              {% if review.body %}
              <div class="comment">
                <a href="{% url  'guide-profile' review.owner.id %}">
                  <img class="avatar avatar--md"
                    src="{{review.owner.profile_image.url}}" alt="user" />
                </a>
                <div class="comment__details">
                  <a href="{% url  'guide-profile' review.owner.id %}" class="comment__author">{{ review.owner.name }}</a>
                  <p class="comment__info">{{review.body|linebreaksbr}}</p>
                </div>
              </div>
              {% endif %}
              {% endfor %}
            </div>
        </div>
      </div>
    </div>
  </main>


{% endblock content %}