
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>
    <link rel="stylesheet" href="{% static 'styles/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
     <link rel="stylesheet" href="{% static 'uikit/styles/uikit.css' %}" />
     <link rel="stylesheet" href="{% static 'styles/app.css' %}" />
</head>

<body>
    <header>
       {% include 'navbar.html' %}
        {% if user.is_authenticated %}
        <a></a>
        <a href="{% url 'create_post' %}" style="margin:auto; text-align:center; display:block;font-size: 35px" ><button>Create New Post</button></a>
        {% endif %}
    </header>
     <!--SearchBox Section-->
                <form action="{% url 'search_result' %}" role="form" method="GET">
                <div class="search-box">
                    <div>
                        <select name="search-box" id="">
                            <option value="Titles">Titles</option>
                            <option value="Descriptions">Descriptions</option>
                        </select>
                        <input type="text" name="q" placeholder="search in the forum ...">
                        <button type="submit" name="search"><i class="fa fa-search"></i></button>
                    </div>
                </div>
                </form>

    {% block content %}
    {% endblock content %}

    <script src="main.js"></script>
</body>
</html>