{% load static %}

 <!-- Header Section -->
 <header class="header">
    <div class="container container--narrow">
      <a href="/" class="header__logo">
        <img src="{% static 'images/log.png' %} " alt="TravelAdvice Logo" />
      </a>
      <nav class="header__nav">
        <input type="checkbox" id="responsive-menu" />
        <label for="responsive-menu" class="toggle-menu">
          <span>Menu</span>
          <div class="toggle-menu__lines"></div>
        </label>
        <ul class="header__menu">
          <li class="header__menuItem"><a href="{% url 'trips' %}">Home</a></li>
          <li class="header__menuItem"><a href="{% url 'forumhome' %}">Forum</a></li>
          <li class="header__menuItem"><a href="{% url 'profiles' %}">Guides</a></li>
          <li class="header__menuItem"><a href="{% url 'contact' %}">Contact Us</a></li>
          {% if user.is_authenticated %}
          <li class="header__menuItem"><a href="{% url 'create-trip' %}">Add Trip</a></li>
          <li class="header__menuItem"><a href="account.html">My Account</a></li>
          <li class="header__menuItem"><a href="{% url 'update_profile' %}">Update Profile</a></li>
          <li class="header__menuItem"><a href="{% url 'logout' %}">Logout</a></li>
          {% else %}  
          <li class="header__menuItem"><a href="{% url 'signin' %}" class="btn btn--sub">Login</a></li>
          <li class="header__menuItem"><a href="{% url 'signup' %}" class="btn btn--sub">Signup</a></li>
          {% endif %}
        </ul>
      </nav>
    </div>
  </header>





                


<!-- <li class="header__menuItem"><a href="login.html" class="btn btn--sub">Login/Sign Up</a></li> -->