{% load static %}

<!-- Header Section -->
<header class="header">
    <div class="container container--narrow">
        <a href="{}" class="header__logo">
            <img src="{} " alt="" />
        </a>

        <nav class="header__nav">

            </label>

                <li class="header__menuItem"><a href="{% url 'forumhome' %}">forum</a></li>
                {% if user.is_authenticated %}
                <li class="header__menuItem"><a href="{% url 'logout' %}">Logout</a></li>
                {% else %}
                <li class="header__menuItem"><a href="{% url 'signin' %}">Signin</a></li>
                <li class="header__menuItem"><a href="{% url 'signup' %}" class="btn btn--sub">Signup</a></li>
                {% endif %}
            </ul>
        </nav>
    </div>
</header>